/* Defult Styles */

/* Fonts */
@font-face { font-family: 'mheupperelemsans'; src: url('fonts/mheupperelemsans_em-regular-webfont.woff'); }
@font-face { font-family: 'mheelemsanscondensed'; src: url('fonts/mheelemsanscondensed-regular-webfont.woff'); }

body {
	margin: 0px;
	color: #333;
	/*width: 100%;*/
}

#wrapper {
	position: absolute;
	top: 10px;
	right: 20px;
	width: 633px;
	height: 442px;
	font-size: 100%;
}

.content {
	position: relative;
}

/* temp */
input.type_entry {
	position: static;
	display: inline;
	-moz-border-radius: 0px; /* Firefox */
	-webkit-border-radius: 0px; /* Safari, Chrome */
	border-radius: 0px; /* CSS3 */
	border: 1px solid #333;
	border-color: #ddd;
	box-shadow: 0 0 10px #ddd;
	background-color: transparent;
	padding: 0px -20px 0px -20px !important;
	margin: 0px;
	text-align: center;
	color: blue;
	font-size: 1em;
}

input.type_entry:focus {
	border-color: #9ecaed;
	box-shadow: 0 0 10px #9ecaed;
}
/* END temp */

/* Table Styles */

table {
	border-collapse:collapse;
}

#content[data-font="0"] td {
	padding: 3px 8px 3px 8px;
	border: solid 1px #333;
}

#content[data-font="1"] td {
	padding: 4px 10px 4px 10px;
	border: solid 2px #333;
}

#content[data-font="2"] td {
	padding: 2px 12px 2px 12px;
	border: solid 3px #333;
}

/* END Table Styles */

/* Fonts */
/* Line Height Issues in Hints */
#content[data-grades="lower"] {
	/*font-family: "mheupperelemsans", Arial, "MS Trebuchet", sans-serif;*/
}

#content[data-grades="lower"][data-font="0"] {
	font-size: 1em;
}

#content[data-grades="lower"][data-font="1"] {
	font-size: 1.2em;
}

#content[data-grades="lower"][data-font="2"] {
	font-size: 1.5em;
}

#content[data-grades="mid"] {
	/*font-family: "mheupperelemsans", Arial, "MS Trebuchet", sans-serif;*/
}

#content[data-grades="mid"][data-font="0"] {
	font-size: 1em;
}

#content[data-grades="mid"][data-font="1"] {
	font-size: 1.1em;
}

#content[data-grades="mid"][data-font="2"] {
	font-size: 1.3em;
}

#content[data-grades="upper"] {
	/*font-family: "mheupperelemsans", Arial, "MS Trebuchet", sans-serif;*/
}

#content[data-grades="upper"][data-font="0"] {
	font-size: 1em;
}

#content[data-grades="upper"][data-font="1"] {
	font-size: 1.1em;
}

#content[data-grades="upper"][data-font="2"] {
	font-size: 1.3em;
}

.title {
	font-family: 'mheupperelemsans';
	margin-bottom: 5px;
}

.content_box {
	font-family: 'mheelemsanscondensed'; 
	margin-bottom: 5px;
}

.hand {
	font-family: 'mheupperelemsans', Arial, "MS Trebuchet", sans-serif;
}

/* END Fonts */

/* Coins */
#content .coin {
	position: relative;
	top: -4px;
	color: #333;
	font-family: "mheupperelemsans", Arial, "MS Trebuchet", sans-serif;
	font-size: 0.6em;
	text-align: center;
	padding: 0 0.3em;
	-moz-border-radius: 50%/50%;
   -webkit-border-radius: 50% 50%;
   border-radius: 50%/50%;
	font-weight: bold;
	border: solid 0.15em #333;
}
/* END Coins */

/* Inline Images */
img.center { text-align: center; clear: both; display: block; margin: 10px 4px; }
img.left { float: left; margin: 4px 10px 4px 0px; }
img.right { float: right; margin: 4px 0px 4px 10px; }
img.inline { vertical-align: bottom; }
/* END Inline Images */

/* Tooltip */
.tooltip {
	position: absolute;
	bottom: 50px;
	left: 50px;
	float: right;
}


.tooltip_label {
	font-size: 18px !important;
	text-decoration: underline;
}
/* END Tooltip */

/* Play Button */
.play_buttons {
	position: absolute;
	top: 10px;
	left: 10px;
}

/*.play_button {
	position: relative;
	top: 10px;
	left: 10px;
}*/

.play_button, .play_button_speak {
	width: 37px;
	height: 37px;
}	

.play_button_speak {
	display: inline-block;
	background: url('../images/audio_btn.png') no-repeat 0 0;
}
/* END Play All */

/* Covers */
.cover {
	overflow: hidden;
}

.cover_slide {
	position: relative;
	background: url('../images/covers_back.png') repeat;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.54);
	-moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.54);
	box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.54);
}

.cover[data-direction="horizontal"] .cover_slide_handel {
	width: 20px;
	height: 34px;
	cursor: pointer;
	background: url('../images/covers_h_handle.png') no-repeat;
	margin: auto 0;
	position: absolute;
	top: -5px; left: 0; bottom: 0; right: 0;
}

.cover[data-direction="vertical"] .cover_slide_handel {
	width: 38px;
	height: 20px;
	cursor: pointer;
	position: relative;
	top: 1px;
	margin: 0 auto;
	background: url('../images/covers_v_handle.png') no-repeat;
}
/* END Covers */

.drop_box {
	display: none;
	width: 600px;
	height: 220px;
	border: 2px solid #333;
	float: left;
    clear: both;
}

/* Layout A */

#content[data-layout="A"] .titles {
	width: 450px;
	float: left;
    clear:both;
    margin-top:20px;
    margin-bottom:20px;
}

#content[data-layout="A"] .content_boxs {
	width:600px;
	float: left;
    clear:both;
	max-height: 350px;
	overflow-y: auto;
}

#content[data-layout="A"] .drop_box {
	display: none;
}

/* Layout B */

#content[data-layout="B"] .titles {
	width: 450px;
	float: left;
    clear:both;
}

#content[data-layout="B"] .content_boxs {
	width: 600px;
	float: left;
	max-height: 193px;
	overflow-y: auto;
}

#content[data-layout="B"] .drop_box {
    width:600px;
    float:left;
    clear:both;
	max-height: 192px;
	overflow-y: auto;
    margin-top:5px;
	display: block;
}

/* Layout C */
#content[data-layout="C"] .titles {
	width: 450px;
	float: left;
    clear:both;
}

#content[data-layout="C"] .content_boxs {
	width: 600px;
	float: left;
	max-height: 193px;
	overflow-y: auto;
}

#content[data-layout="C"] .drop_box {
    width:600px;
    float:left;
    margin-top:5px;
    clear:both;
	display: block;
	max-height: 192px;
	overflow-y: auto;
}



/* Layout D */
/* Layout E */

#lockout {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: url('../images/lockout.png') repeat;
	z-index: 2001;
	display: none;
}

.highlight {
	cursor:default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.highlight_on {
	background-color: #80bbff;
}

.highlight_over {
	color: #80bbff;
}

.highlight_drop_box {
	display: block;
	margin-bottom: 5px;
	color: #000000;
}




