

@font-face { font-family: 'mheelemsanscondensed'; src: url('fonts/mheelemsanscondensed-regular-webfont.woff'); }


#numeric_keypad_G1to6 {
	z-index: 900;
}

#numeric_keypad_G1to6 .displaywindow { 
	left:10px;
	top:4px;
	height:45px;
	width:195px;
	position:absolute;
	overflow:hidden;
}


#numeric_keypad_G1to6  .showbuttondisabled {
	opacity:0.6 !important;
	cursor:default !important;
	
}


#numeric_keypad_G1to6 .disableforfractions{
	
}


#numeric_keypad_G1to6  .closebutton {
    left:200px;
	top:0px;
	height:30px;
	width:20px;
	position:absolute;
}






#numeric_keypad_G1to6 .display {
	left:5px;
	top:0px;
	height:45px;
	width:auto;
	position:absolute;
	opacity:1;
	font-family: 'mheelemsanscondensed', Arial, "MS Trebuchet", sans-serif;
	/*font-family:Arial, 'MS Trebuchet', sans-serif;*/
	font-size:19px;
	line-height:45px;
	/*background-color:#E8E7E3;*/
	letter-spacing: 0.1em;	
}

/* no longer used */
#numeric_keypad_G1to6 .countwindow {
	left:124px;
	top:0px;
	height:26px;
	width:30px;
	position:absolute;
	font-family: 'mheelemsanscondensed', Arial, "MS Trebuchet", sans-serif;
	/*font-family:Arial, 'MS Trebuchet', sans-serif;*/
	font-size:14px;
	/*border:2px solid gray;*/
	color:light gray;
	text-align:center;
	overflow:hidden;
	line-height:26px;
}

#content {
	height: 100%;
}

/* changed*/
#numeric_keypad_G1to6 {
	position:absolute;
	top:10px;
	left:10px;
	width:224px;
	height:300px;
	background-color:#B2F0FF;
}

#numeric_keypad_G1to6 .dragbar {
	position:absolute;
	top:0px;
	left:0px;
	width:224px;
	height:25px;
	background-image: url(../images/numeric_topbar.png);
}


#numeric_keypad_G1to6 .display_and_pad {
	position:absolute;
	top:25px;
	left:0px;
	width:224px;
	height:275px;
    background-image: url(../images/numeric_base.png);	

}




#numeric_keypad_G1to6  .clear {
	background-image:url(../images/clear.png);
}



#numeric_keypad_G1to6 .blinkingcursor{
	position:absolute;
	width:1px;
	height:28px;
	left:3px;
	top:8px;
	background-image:url(../images/cursor.gif);
}



#numeric_keypad_G1to6  .seven {top:62px;left:10px;}
#numeric_keypad_G1to6  .eight {top:62px;left:62px;}
#numeric_keypad_G1to6  .nine {top:62px;left:114px;}
#numeric_keypad_G1to6 .four {top:114px;left:10px;}
#numeric_keypad_G1to6 .five {top:114px;left:62px;}
#numeric_keypad_G1to6  .six {top:114px;left:114px;}
#numeric_keypad_G1to6 .one{top:166px;left:10px;}
#numeric_keypad_G1to6 .two {top:166px;left:62px}
#numeric_keypad_G1to6 .three {top:166px;left:114px;}
#numeric_keypad_G1to6 .zero {top:218px;left:10px;}
#numeric_keypad_G1to6 .period {top:218px;left:62px;font-size:28px !important;}
#numeric_keypad_G1to6 .comma{top:218px;left:114px;	font-size:34px !important;}

#numeric_keypad_G1to6 .enter_key {top:166px;left:167px;}
#numeric_keypad_G1to6 .backspace{top:62px;left:167px;}
#numeric_keypad_G1to6 .clear{top:114px;left:167px;}

#numeric_keypad_G1to6  .backspace {
	background-image:url(../images/backspace.png);
}


#numeric_keypad_G1to6 .number_symbol_key {
	position:absolute;
	width:48px;
	height:48px;
	background-image:url(../images/keysprite.png);
	font-family: 'mheelemsanscondensed', Arial, "MS Trebuchet", sans-serif;
	/*font-family: Arial, "MS Trebuchet", sans-serif;*/
	font-size:20px;
	background-position:0px 0px ;	
	text-align: center;
	vertical-align: middle;
	line-height: 48px;
	font-color:black;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	 user-select: none;
}


#numeric_keypad_G1to6 .custom_symbol_key {
	position:absolute;
	width:48px;
	height:48px;
	background-position:0px 0px ;	
}
#numeric_keypad_G1to6  .downstate {
   background-position: -48px 0px;
   color:white;
}

#numeric_keypad_G1to6 .enter_key{
    position:absolute;
    background-image:url(../images/sprite_v_enter.png);
    width:48px;
    height:100px;
    background-position:-48px 0px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
     user-select: none;
}
#numeric_keypad_G1to6 .enter_key.downstate {
    background-position:-96px 0px;
}
